.header {
    margin-top: 40px;
    margin-bottom: 30px;
    padding-bottom: 20px;
    border-bottom: 1px solid #e5e5e5;
}

.header .home{
    text-decoration: none;
    color: #999;
}

.footer {
    color: #999;
    border-top: 1px solid #e5e5e5;
    margin-top: 70px;
    padding-top: 20px;
    padding-bottom: 40px;
}
